.navbar-container{
  background-color: #519fd2;
  padding: 1em 0em;
}

.navbar{
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.navbar a{
  color: #FFF;
  text-decoration: none;
}

.centroHeader {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.user-name {
  width: 25%;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}
.navbar-login {
  width: 60%;
  display: inline-block;
}

.img-avatar {
  width: 100%;
}

.menu {
  width: 20px;
  margin-left: 10px;
}

.sig-out {
  position: absolute;
  top: 10%;
  left: 18%;
  background-color: cadetblue;
  transition: 1s;
  cursor: pointer;
}

